/**********************Resetter********************/
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/******************************Custom Properties******************/
:root {
  --color-darker: #261E17;
  --color-dark:#594D42;
  --color-light:#ffffff;
  --color-lighter: #fff8f1;
  --color-cards: #aea997;

  --font-family: "Aldrich", sans-serif;
  --secondary-font: "Noto Sans", sans-serif;
}

/*****************Fonts*************************/
html {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: var(--color-darker);
}
h1, h2, h3 {
  color: var(--color-darker);
  font-family: var(--font-family)
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.7;
  text-decoration: underline;
}

p{
  color: var(--color-darker);
  line-height: 1.5;
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 1rem;
  font-family: var(--secondary-font);
}

/**************************UI Elements******************************/
button {
  display: inline-block;
  height: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-darker);
  color: var(--color-lighter);
}

.light_button {
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

input[type=text] {
  box-sizing: border-box;
  width: 250px;
  height: 2rem;
  padding: 0.5rem;
  text-align: left;
  background-color: var(--color-lighter);
  border-color: var(--color-light);
  color: var(--color-dark);
}

/***************************Menu*******************/
nav{
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darker);
}

nav a {
  color: white;
  text-decoration: none;
}

/***************************Header****************************/
header {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-dark);
}

.header_text {
  width: 40vw;
  min-width: 300px;
}

.header_text h1 {
  color: var(--color-lighter);
}

.header_text p {
  color: var(--color-light);
}

.header_graphics {
  width: 30vw;
  height: 30vw;
  min-width: 300px;
  min-height: 300px;
  background-color: var(--color-darker);
  margin: 3rem;
}

/****************************Sections****************************/
#intro {
  display: flex;
  min-height: 80vh;
  padding: 0px 15rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-cards);
  flex-wrap: wrap;
}

.intro_text {
  width: 40vw;
  min-width: 450px;
}

.intro_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-color: var(--color-dark);
}

#cards {
  min-height: 80vh;
  padding: 5rem 2rem;
}
.card {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  background-color: var(--color-cards);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: var(--color-dark) 0 15px 30px -5px;

}
.card_image{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.card_slogan {
  font-size: 1rem;
}
.card_title{
  font-size: 0.8rem;
}
.card_mail{
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
#card_container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

#info {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #D9BEA7;
}

.info_text {
  width: 60vw;
  min-width: 300px;
}

#contact {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}
.card_button_negative, .card_button_positive{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-evenly;
  background-image: linear-gradient(144deg,#c4aa7c, #deaf88 50%,#e8cb9c);
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em;
  font-size: 0.7rem;
  letter-spacing: 0.3rem;
  font-family: var(--secondary-font);
  max-width: 100%;
  min-width: 100px;
  padding: 1rem;
  margin: 0.5rem;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  width: 50%;

}
input[type=button] {
  align-self: center;
  display: flex;
  flex-direction: row;
  
}
.card_button_negative:active, .card_button_positive:active,
.card_button_negative:hover, .card_button_positive:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .card_button_negative, .card_button_positive {
    min-width: 100px;
  }
}

/*****************Footer**********************/
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darker);
}

footer h2, footer h3{
  color: var(--color-lighter);
}

footer a {
  color: #D9BEA7;
  text-decoration: none;
}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}