/********************Resetter********************/
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body{
  margin: 0%;
  padding: 0%;
  font-family: var(--font-family);
  background-color: var(--bg);
}
/***********dark theme***********/
/* light theme - default */
html {
  font-family: var(--font-family);
  font-size: 1.2em;
  --bg: #FF6C00; 
  /* --bg-panel: #2b2e2e; */
  /* --color-heading: #FF6C00;  */
}
/* dark theme styling */
html[data-theme='dark'] {
  --bg: #33312F;
  --bg-panel: #33312F;
  --color-heading: #FF6C00; 
  --color-text: #E2DCC3;
}
.container {
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% auto;
      grid-template-columns: 80% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "title switch"
 "content content";
}
input[type=checkbox] { /* styling for input element */
  height: 0;
  width: 0;
  visibility: hidden;
}
label { /* styling for labels */
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: rgb(189, 189, 189);
  float: right;
  border-radius: 100px;
  position: relative;
}
label:after { /* styling for labels - on toggle */
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input:checked + label { /* conditional check while toggling */
  background: rgb(0, 0, 0);
}
input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}
/*****************custom properties*********************/
:root {
  --text-color: #0077ff; 
  --text-darker: #7678a3;
  --text-lighter: #e7e6e4;
  --text-shadow: #1f2584;
  --text-primary-color: black; 
  --font-family: "Anton", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

/*************************Fonts*************************/

h1,
h2,
h3 {
  color: var(--text-color);
  font-family: var(--font-family);
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.052rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.953rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}


h3 {
  font-family: var(--font-family);
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--text-primary-color);
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.highlight a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-lighter);
}

/***************************UI Elements**********************/
button {
  display: inline-block;
  height: 3.5rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--text-shadow);
  color: var(--text-lighter);
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}
.dark_button {
  background-color: var(--text-color);
  border: 2px solid;

  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--bg-panel);
  padding: 0.7em 1.7em;
  /* font-size: 2rem; */
  border-radius: 0.5em;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}
.dark_button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}
.dark_button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: var(--bg);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.dark_button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--bg);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.dark_button:hover {
  color: var(--text-color);
  border: 1px solid var(--bg);
}
.dark_button:hover:before {
  top: -35%;
  background-color: var(--color-heading);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.dark_button:hover:after {
  top: -45%;
  background-color: var(--bg);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: #eee;
  border-color: #ddd;
  color: #222;
}
button:hover {
  background-color: var(--color-heading);
  color: var(--color-text);
} 
/* mouse cursor */
div.clickEffect{
  position:fixed;
  box-sizing:border-box;
  border-style:solid;
  border-color:#FFFFFF;
  border-radius:50%;
  animation:clickEffect 0.4s ease-out;
  z-index:99999;
  }
  @keyframes clickEffect{
  0%{
    opacity:1;
    width:0.5em; height:0.5em;
    margin:-0.25em;
    border-width:0.5em;
  }
  100%{
    opacity:0.2;
    width:15em; height:15em;
    margin:-7.5em;
    border-width:0.03em;
  }
}

/**********************Menu**************************/
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
}

nav a {
  color: var(--text-lighter);
  text-decoration: none;
}

nav a.logo {
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-weight: bold;
}

nav li {
  display: inline-block;
  margin: 0px 1rem;
}

/************Header**********************/
header {
  display: flex;
  min-height: 80vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--text-shadow);
}

header p {
  color: var(--text-lighter);
}

header button {
  margin-bottom: 3rem;
}

.header_text h1 {
  width: 30vw;
  min-width: 300px;
}

.header_graphics {
  width: 25vw;
  height: 25vw;
  min-width: 250px;
  min-height: 250px;
  border-radius: 250px;
  background-color: #111;
  margin-bottom: 1rem;
  padding: 3rem;
}
.header_graphics object{
  width: 100%;
  height: 100%;
}

.header_graphics object svg path {
  fill: var(--text-color);
}

/****************product section************************/
#product {
  padding: 5rem 3rem;
  background-color: #ddd;
}

#product h2 {
  font-size: 3.052rem;
  line-height: 3.5rem;
}

#product article {
  display: flex;
  min-height: 50vh;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#product article:first-child {
  min-height: 40vh;
}

.product_text {
  width: 50vw;
  min-width: 300px;
}
.highlight a, .product_text a {
  display: inline-block;
  position: relative;
  color: var(--text-shadow);
  text-decoration: none;
  cursor: pointer;
}
.highlight a:after, .product_text a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.highlight a:hover:after,.product_text a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#product article:first-child .product_text {
  width: 75vw;
  min-width: 300px;
}

.product_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  padding: 1rem;
  margin: 3rem;
  background-color: #ccc;
  border-radius: 300px;
}
.product_graphics object{
  width: 100%;
  height: 100%;
}

/**********************highlight sections********************/
.highlight {
  display: flex;
  min-height: 70vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
}

.highlight div {
  width: 80vw;
}

.highlight div h2 {
  font-size: 4.2rem;
  line-height: 4rem;
}

/* .dark {
  background-color: #222;
}
.dark h2 {
  color: #eee;
}
.dark a {
  color: #ccc;
} */

/*************************request section*****************/
#request {
  display: flex;
  min-height: 50vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--text-shadow);
}

#request div {
  width: 50vw;
  min-width: 300px;
}
#request h2 {
  letter-spacing: .1rem;
  line-height: 2.2rem;
}
#request p {
  color: var(--text-lighter)
}
.dark_button, #request button {
  margin-top: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: all 0.6s;
  animation-name: puls_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;  
}

@keyframes puls_kf {
  0% {
  transform: scale(0.8);
  }
  100% {
  transform: scale(1);
  }
}

/*********************Footer**************************/
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-heading);
  color: var(--text-lighter);
}
footer li:hover {
  transform: scale(1.5);
}

footer h2,
footer h3 {
  color: var(--text-lighter);
  margin-bottom: 1rem;
}

footer a {
  color: var(--text-lighter);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-decoration: overline;
  /* padding-bottom: 1rem; */
}
footer section.right {
  margin-left: 0.5rem;
  padding: 2rem;
}

footer section.left {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9em;
  }

  #product h2 {
    font-size: 1.953rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .highlight div h2 {
    font-size: 3.052rem;
    line-height: 3.5rem;
  }

}


